
@import url('https://fonts.googleapis.com/css?family=Philosopher|Quattrocento+Sans');
/* font-family: 'Quattrocento Sans', sans-serif; */
/* font-family: 'Philosopher', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(33, 1, 56);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
}
body h1, h2, h3, h4, h5, h6 {
    font-family: 'Philosopher', sans-serif;
}

/* App.js */
    .app-container {
        width: 100vw;
        height: 100vh;
        /*background-color: rgb(134, 12, 43); */
        background-color: rgb(253, 253, 194);
        /*background-color: rgb(186, 212, 187); */
        text-align: center;
    }

/* LoadingPage.js */
.loading-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    background: black;
}
.loading-section{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}
.loading-section >img{
    width: 100px;
    backdrop-filter: blur(1px);
    transform: translateY(200px);
}
.loading-parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    background-size: 100%;
    z-index: -1;
    background-image: url('https://s3.scoopwhoop.com/anj/adulthood/12137e4e-e8e3-4f62-8789-a2dede82a54a.jpg');
    background-repeat: no-repeat;
    /*background-size: cover;*/
}
.loading-content{
    background: rgb(253, 253, 194);
    line-height: 20px;
}
.loading-content-intro{
    padding: 35px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

        /*Dropdown.js*/
/*todo Sarah, please implement transition into this dropdown*/
.user-login{
    padding-top: 35px;
    height: 50vh;
    background: black;
}
.user-select-dropdown {
    position: relative;
    display: inline-block;
}
ul {
    list-style-type: none;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    top:45px;
    right:0;
    width: 200px;
    background-color: rgb(253, 253, 194);
    font-weight:bold;
    position: absolute;
    box-shadow: 3px 5px 8px 2px rgba(98, 98, 98, 0.82);
    z-index: 1;
}
li a {
    text-decoration: none;
}
li {
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
}
li:last-child {
    border-bottom: none;
}
li:hover {
    background-color: #e5e5e5;
    color: white;
}
.user-select-button{
    width:200px;
    height:45px;
    background-color: rgb(103, 170, 170) ;
    padding:12px;
    border-radius:5px;
    font-weight:bold;
    color: white;
}
.user-select-button:before{
    content:"";
    position:absolute;
    width:0;
    height:0;
    border: 10px solid;
    border-color: white transparent transparent transparent;
    right:6px;
    top:18px;
}

/*---TEMPORARY COMPONENTS-------------------*/
/* TempNavBar.js */
    .temp-nav-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: rgb(180, 48, 76); */
        background-color: rgb(103, 170, 170);
        padding: 10px;
        height: 10vh;
        width: 100vw; 
        position: fixed;
        top: 0;
        z-index: 5;
    }
/* Placeholder.js */
    .placeholder-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .placeholder-container > img {
            height: 75vh;
        }


/*---ADMIN SECTION -------------------------*/
/* AdminDashboard.js */
    .admin-dashboard-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 76px;
    }


/*---UNAUTHENTICATED USER SECTION ----------*/
/* Unauthenticated.js */
    .unauthenticated-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
    }
/* Login.js */
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
/* SignUp.js */
    .sign-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
/* WelcomeAbout.js */
    .welcome-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
/* WelcomeFooter.js */
    .welcome-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        padding: 10px;
        margin-top: 15px;
        background-color: rgba(76, 0, 130, 0.966);
        z-index: 5;
    }


/*---AUTHENTICATED USER SECTION ------------*/
/* Navbar.js */
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 10px;
        margin-top: 15px;
        /* background-color: rgb(159, 136, 175); */
        /* background-color: rgb(180, 48, 76); */
        background-color: rgb(156, 3, 3);
        /* background-color: rgb(103, 170, 170); */
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        top: 87vh;    
        z-index: 5;
        /* raised z-index to 2 due to icons in questcard.js being at 1. Don't go lower. */
        box-shadow: inset rgba(245, 245, 245, 0.281) 0px 2px 5px;
        
    }
        .navbar a{
            text-decoration: none;
            color: rgb(248, 248, 221);
        }
        .navbar img {
            height: 5vh;
            filter: invert(82%);
            margin: 3px 35px;
        }
/* Authenticated.js */
    .authenticated-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 7.8vh;
    }
/* HomeDashboard.js */
    .home-dashboard {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 4vh;
    }
        .home-dashboard > h3 {
            font-weight: 500;
        }
/* Post.js */
    .post {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1vh 5vw;
        padding: 1vh 0;
        border-bottom: solid rgba(0, 0, 0, 0.13) 1px;
    }
        .post:nth-child(1) {
            border-top: solid rgba(0, 0, 0, 0.13) 1px;
        }
        .post > img {
            height: 10vh;
            width: calc(10vh);
            padding: 1vh;
            background-color: rgb(96, 98, 59);
            border-radius: 20%;
            filter: invert(90%) drop-shadow(rgba(0, 0, 0, 0.712) 2px 2px 3px);
            margin-right: 4vw;
        }
        .post > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            width: 100%;
        }
        .status-updates {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2.5vh;
            font-size: .8em;
            line-height: 1.5em;
            padding: 0 2vw;
        }

/* UserDashboard.js */
    .user-dashboard-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        max-width: 700px;
        padding-top: 2vh;
    }
        .avatar-image-container {
            height: 40vh;
            width: 80vw;
            max-height: 300pt;
            max-width: 400pt;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 10pt 20pt;
            /*box-shadow: 2px 4px 5px 1px rgba(98, 98, 98, 0.82);*/
        }
        .avatar-image-container > h3 {
            color: white;
            font-weight: bolder;
            text-shadow: black 2px 2px 2px;
            text-transform: uppercase;
        }
        .user-dashboard-container > h1 {
            font-size: 1.25em;
            margin-top: 1vh;
        }
        .user-dashboard-container > h2 {
            font-size: 1em;
            font-variant: small-caps;
            font-weight: lighter;
        }
        .player-skill-lvl-container {
            padding-top: 10pt;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            width: 80vw;
            max-width: 600pt;
        }
/* PlayerLvl.js */
    .player-level {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
        .player-level > p {
            font-size: 15pt;
            margin-bottom: 3.5pt;
        }
        .level-bar {
            border: rgb(156, 3, 3) solid 1px;
            width: 80vw;
            max-width: 600pt;
            height: 25pt;
            margin-left: 10px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            padding: 2pt;
        }
        .progress-bar {
            height: 19pt;
            /*width: 50%;*/
            background-color:  rgb(156, 3, 3);
        }
/* PlayerSkillLvl.js */
    .skill-bar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vh 1vw;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
        .skill-category {
            width: 11vw;
            text-align: left;
        }
        .skill-bar {
            border: rgb(103, 170, 170) solid 1px;
            height: 15pt;
            width: 12vw;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 2px;
            /* margin-left: 10pt; */
        }
        .skill-progress-meter {
            background-color: rgb(103, 170, 170);
            height: 10pt;
            /*width: 50%;*/
        }

/*--- QUESTS SECTION ------------*/
/* Quests.js */
    .quest-container {
        height: 100%;
        background-color: rgb(156, 3, 3);
    }
        .hideableDiv{
            /* height: 80vh; */
            /* transition-duration: transform 1s linear; */
            /* transition-property: transform; */
            opacity: 0;
            transition-timing-function: ease-in-out;
            color: black;
            transition-duration: 1.0s;
        }
        .textShowing{
            opacity: 1;
            transition-timing-function: ease-in-out;
            color: red;
            transition-duration: 1.0s;
        }
        .quest-library-toggle {
            background-color: rgb(156, 3, 3);
            width: 100vw;
            z-index: 3;
            position: relative;
            top: 0;
            box-shadow: inset rgba(0, 0, 0, 0.603) 0px 2px 10px;
            /* margin-bottom: -3vh; */
        }
        .quest-library-toggle h2 {
            padding-top: 10px;
        }
        .current-quests-toggle {
            background-color: rgb(253, 253, 194);
            width: 100vw;
            padding-top: 10px;
            z-index: 4;
            position: relative;
            top: 0;
            /* box-shadow: inset rgba(0, 0, 0, 0.726) 0px -3px 10px; */
        }
        .completed-quests-toggle {
            background-color: rgb(103, 170, 170);
            width: 100vw;
            padding: 10px 0px 10px 0px;
            z-index: 5;
            margin-bottom: 10vh;
            /* padding-bottom: 5vh; */
            position: fixed;
            /* top: 0; */
            bottom: 0;
            box-shadow: inset rgba(255, 254, 254, 0.815) 0px 2px 10px,
                        inset rgba(0, 0, 0, 0.603) 0px -2px 10px,
                        rgba(0, 0, 0, 0.5) 0px -2px 20px;
        }
        .hiddenText{
            opacity: 0;
            transition-duration: 1.5s;
            height: 0vh;
            /* transition-delay: 1s; */
        }
        .shownText {
            opacity: 1;
            transition-duration: 2s;
            transition-delay: .4s;
            /* height: 56.5vh;
            height: 30vh; */
            overflow-y: scroll;
            z-index: 0;
        }
/* QuestLibrary.js */
    .quest-library-container {
        background-color: rgb(156, 3, 3);
        width: 100vw;
        box-shadow: inset rgba(0, 0, 0, 0.356) 0px 3px 10px;
    }
/* CurrentQuests.js */
    .current-quests-container {
        box-shadow: inset rgba(0, 0, 0, 0.294) 0px 3px 20px;
        display: flex;
        justify-content: center;
    }
/* CompletedQuests.js */
    .completed-quests-container {
        box-shadow: inset rgba(0, 0, 0, 0.294) 0px 3px 20px;
    }
/* QuestList.js */
    .transition {
        transition: height 0.5s linear; 
    }
    .quest-list {
        margin-top: 2vh;
        /* margin-bottom: 30vh; */
        overflow-y: scroll;
        height: 100%;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }
/* QuestCard.js */
    .quest-card {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        color: black;
        /* border-top: rgba(103, 170, 170, 0.432) solid 1px;
        border-bottom: rgba(103, 170, 170, 0.432) solid 1px; */
        margin-top: 35px;
        margin-bottom: 20px;
    }
    /* video title */
        .quest-card h3 {
            font-size: 1em;
            text-align: center;
            margin-top: 30px;
            padding: 1.5vh 0vw;
            background-color: rgba(255, 255, 255, 0.678);
            width: 90vw;
            height: 3.5em;
            max-width: 400px;
            border-radius: 15px 15px 0px 0px;
            align-self: center;
        }
    /* video */
        .quest-card > iframe {
            width: 90vw;
            max-width: 400px;
            height: calc(60vw);
            max-height: 300px;
            display: flex;
            align-self: center;
            /* margin-top: 10px; */
            border: white solid 1px;
        }
    /* video description */
        .quest-card > p {
            font-size: 0.75em;
            text-align: left;
            background-color: rgba(255, 255, 255, 0.219);
            border: white solid 1px;
            border-top: none;
            /* border-radius: 0px 0px 15px 15px; */
            padding: 5pt 8pt 9pt 8pt;
            display: flex;
            align-self: center;
            justify-content: center;
            width: 90vw;
            max-width: 400px;
            height: 5em;
            overflow-y: scroll;
        }
    /* quest rewards info */
        .reward-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 5pt;
            background-color: rgba(255, 255, 255, 0.219);
            border: white solid 1px;
            border-radius: 0 0 15px 15px;
            width: 90vw;
            max-width: 400px;
        }
        .xp {
            grid-column: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-self: center;
            padding: 0vh 1vw;
        }
        .mastery-container {
            grid-column: 2;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            border-left: solid white 1px;
            padding: 0vh 1vw;
        }
        .mastery-icon {
            width: 3vw;
        }
        .skills-container {
            grid-column: 3;
            display: flex;
            border-left: solid white 1px;
        }
        .skill-points {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .skill-icons {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 5pt;
        }
        .skill-icons > img {
            height: 6vh;
            width: calc(6vh);
            padding: 5pt;
            filter: invert(5%);
        }
    
    /* quest control panel */
        .quest-control-panel {
            width: 90vw;
            max-width: 400px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5pt;
        }
        .quest-control-panel > button {
            background-color: rgba(255, 255, 255, 0.383);
            box-shadow: rgba(0, 0, 0, 0.521) 2px 2px 2px;
            border-radius: 15px;
            font-size: 8pt;
            padding: 1vh 2vw;
            margin: 6pt 3pt 3pt 3pt;
            width: 31%;
            height: 40pt;
        }
    /* community progress log */
        .community-progress-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 90vw;
            max-width: 400px;
            padding-bottom: 30pt;
            margin-bottom: 15pt;
            border-bottom: solid rgba(0, 0, 0, 0.335) 1px;
        }
        .community-progress-container > img {
            background-color: rgb(211, 212, 212);
            border: rgba(5, 5, 5, 0.801) 3px solid;
            border-radius: 100%;
            box-shadow: rgba(0, 0, 0, 0.521) 2px 2px 2px;
            width: calc(10vh);
            height: 10vh;
            padding: 1.25vh;
            margin-left: calc(-5vh);
            z-index: 1;
        }
        .community-progress-container > img:nth-child(1) {
            margin-left: 0;
        }
        .community-progress-container > p {
            font-size: 10pt;
            font-style: italic;
            text-align: left;
            padding: 10pt 1vw 10pt 6vw;
            margin-left: -5vw;
            color: black;
            background-color: rgba(255, 255, 255, 0.219);
            border-radius: 0px 15px 15px 0px;
        }

@media screen and (max-width: 900px) {
    .quest-card {
        margin: 0vw 1vw 0vw 1vw;
    }
    .user-dashboard-container {
        padding-bottom: 15vh;
    }
    .player-skill-lvl-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
    }
    .skill-bar-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vh 1vw;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .skill-bar {
        border: rgb(103, 170, 170) solid 1px;
        height: 15pt;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2px;
    }
}