
@import url('https://fonts.googleapis.com/css?family=Philosopher|Quattrocento+Sans');
/* font-family: 'Quattrocento Sans', sans-serif; */
/* font-family: 'Philosopher', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(33, 1, 56);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
}
body h1, h2, h3, h4, h5, h6 {
    font-family: 'Philosopher', sans-serif;
}
/* App.js */
.app-container {
    width: 100vw;
    height: 100vh;
     /*background-color: rgb(134, 12, 43); */
    background-color: rgb(253, 253, 194);
     /*background-color: rgb(186, 212, 187); */
    text-align: center;
}

/* LoadingPage.js */
.loading-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}
.loading-section{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: white;
}
.loading-parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    /*background-size: 100%;*/
    z-index: -1;
    background-image: url('http://www.shainblumphoto.com/wp-content/uploads/2016/02/dubai_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.loading-section2{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: white;
}
.loading-parallax2::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    background-size: 100%;
    z-index: -1;
    background-image: url("https://i.chzbgr.com/full/5751143168/h898FC51A/");
    background-repeat: no-repeat;
}
.loading-content{
    background: floralwhite;
    height: 50vh ;
}



/*---TEMPORARY COMPONENTS-------------------*/
/* TempNavBar.js */
.temp-nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(180, 48, 76); */
    background-color: rgb(103, 170, 170);
    padding: 10px;
    width: 100vw; 
    
}
/* Placeholder.js */
.placeholder-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .placeholder-container > img {
        height: 75vh;
    }


/*---ADMIN SECTION -------------------------*/
/* AdminDashboard.js */
.admin-dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .admin-dashboard-container > img {
        height: 75vh;
    }


/*---UNAUTHENTICATED USER SECTION ----------*/
/* Unauthenticated.js */
.unauthenticated-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
/* Login.js */
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
/* SignUp.js */
.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
/* WelcomeAbout.js */
.welcome-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* WelcomeFooter.js */
.welcome-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 10px;
    margin-top: 15px;
    background-color: rgba(76, 0, 130, 0.966);
}


/*---AUTHENTICATED USER SECTION ------------*/
/* Navbar.js */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 10px;
    margin-top: 15px;
    /* background-color: rgb(159, 136, 175); */
    /* background-color: rgb(180, 48, 76); */
    background-color: rgb(156, 3, 3);
    /* background-color: rgb(103, 170, 170); */
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;    
}
.navbar a{
    text-decoration: none;
    color: rgb(248, 248, 221);
}
.navbar img {
    height: 5vh;
    filter: invert(82%);
    margin: 3px 35px;
}
/* Authenticated.js */
.authenticated-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* HomeDashboard.js */
.home-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 4vh;
}
.home-dashboard > h3 {
    font-weight: 500;
}
/* Post.js */
.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vh 5vw;
    padding: 1vh 0vw;
    border-bottom: solid rgba(0, 0, 0, 0.13) 1px;
}
.post:nth-child(1) {
    border-top: solid rgba(0, 0, 0, 0.13) 1px;
}
.post > img {
    height: 10vh;
    width: calc(10vh);
    padding: 1vh;
    background-color: rgb(96, 98, 59);
    border-radius: 20%;
    /*todo check mismatch pattern below*/
    filter: invert(90%) drop-shadow(rgba(0, 0, 0, 0.712) 2px 2px 3px);
    margin-right: 4vw;
}
.post > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}
.status-updates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vh;
    font-size: .8em;
    line-height: 1.5em;
    padding: 0vh 2vw;
}

/* UserDashboard.js */
.user-dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 700px;
}
.avatar-image-container {
   height: 45vh;
   width: 100vw;
   max-width: calc(75vh);
   background-image: url(https://sportsandthemind.com/wp-content/uploads/2014/04/Avatar-1.png);
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   padding: 10pt 20pt;
}
.avatar-image-container > h3 {
    color: white;
    font-weight: bolder;
    text-shadow: black 2px 2px 2px;
    text-transform: uppercase;
}
.user-dashboard-container > h1 {
    font-size: 1.25em;
    margin-top: 1vh;
}
.user-dashboard-container > h2 {
    font-size: 1em;
    font-variant: small-caps;
    font-weight: lighter;
}
.player-skill-lvl-container {
    padding-top: 10pt;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
/* PlayerLvl.js */
.player-level {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.player-level > p {
    font-size: 15pt;
    margin-bottom: 3.5pt;
}
.level-bar {
    border: rgb(156, 3, 3) solid 1px;
    width: 80vw;
    height: 25pt;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 2pt;
}
.progress-bar {
    height: 19pt;
    width: 50%;
    background-color:  rgb(156, 3, 3);
}
/* PlayerSkillLvl.js */
.skill-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}
.skill-bar-container > p {
    padding-right: 6pt;
}
.skill-bar {
    border: rgb(103, 170, 170) solid 1px;
    height: 15pt;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5px;
}
.skill-progress-meter {
    background-color: rgb(103, 170, 170);
    height: 10pt;
    width: 50%;
}


/*---USER QUESTLOG SECTION ------------*/
/* UserQuestLog.js */
.user-quest-log {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 83vh;
    width: 100vw;
}
/* InProgressQuests.js */
.in-progress-quest-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    min-height: 95vh;
    width: 100vw;
}
.in-progress-quest-log > .pending-quests-div {
    color: black;
    background-color: rgb(156, 3, 3);
    box-shadow: rgba(0, 0, 0, 0.602) -10px 3px 15px,
                inset rgba(0, 0, 0, 0.616) -10px 3px 15px;
    margin-top: 10vh;
    padding: 10pt;
    width: 105%;
    font-family: 'Philosopher', sans-serif;
    font-size: 1.25em;
}
.in-progress-quest-log > .inprogress-quests-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 74vh;
    padding: 10pt;
    font-family: 'Philosopher', sans-serif;
    font-size: 1.25em;
}
.in-progress-quest-log > .completed-quests-div {
    color: black;
    background-color: rgb(103, 170, 170);
    box-shadow: inset rgba(204, 103, 103, 0.534) -10px -3px 15px,
                inset rgba(0, 0, 0, 0.376) -10px 3px 15px;
    margin-bottom: 11vh;
    padding: 10pt;
    width: 105%;
    font-family: 'Philosopher', sans-serif;
    font-size: 1.25em;
}
/* CompleteQuests.js */
/* .complete-quest-log{
} */

/* .QuestLibrary.js */