
@import url('https://fonts.googleapis.com/css?family=Philosopher|Quattrocento+Sans');
/* font-family: 'Quattrocento Sans', sans-serif; */
/* font-family: 'Philosopher', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(33, 1, 56);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
}
body h1, h2, h3, h4, h5, h6 {
    font-family: 'Philosopher', sans-serif;
}
/* App.js */
.app-container {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(134, 12, 43); */
    background-color: rgb(253, 253, 194);
    /* background-color: rgb(186, 212, 187); */
    
    text-align: center;
  
}

/* LoadingPage.js */
.loading-container {    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .loading-container > img {
        height: 75vh;
    }



/*---TEMPORARY COMPONENTS-------------------*/
/* TempNavBar.js */
.temp-nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(180, 48, 76); */
    background-color: rgb(103, 170, 170);
    padding: 10px;
    width: 100vw; 
    
}
/* Placeholder.js */
.placeholder-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .placeholder-container > img {
        height: 75vh;
    }


/*---ADMIN SECTION -------------------------*/
/* AdminDashboard.js */
.admin-dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .admin-dashboard-container > img {
        height: 75vh;
    }


/*---UNAUTHENTICATED USER SECTION ----------*/
/* Unauthenticated.js */
.unauthenticated-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
/* Login.js */
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
/* SignUp.js */
.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
/* WelcomeAbout.js */
.welcome-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* WelcomeFooter.js */
.welcome-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 10px;
    margin-top: 15px;
    background-color: rgba(76, 0, 130, 0.966);
}


/*---AUTHENTICATED USER SECTION ------------*/
/* Navbar.js */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 10px;
    margin-top: 15px;
    /* background-color: rgb(159, 136, 175); */
    /* background-color: rgb(180, 48, 76); */
    background-color: rgb(156, 3, 3);
    /* background-color: rgb(103, 170, 170); */
    
}
.navbar a{
    text-decoration: none;
    color: rgb(248, 248, 221);
}
/* Authenticated.js */
.authenticated-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* HomeDashboard.js */
.home-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* UserDashboard.js */
    /* UserCharSheet.js */
    /* UserBadgesList.js */
    /* UserSocial.js */
/* PersonalFeed.js */
